.field-error{color: red}
@media screen and (max-width: 600px) {
    .dtpicker-content {
        max-width: inherit;
    }
}
@media only screen and (max-width: 500px) {
    #footers {
        width: 100%;
        padding-left: 0px;
    }
}