*{padding:0px;margin:0px;}
body{min-width:1000px;padding-bottom:10px;}
.top-header{width:960px;margin:auto;text-align:right;height:46px;position:absolute;top:0px;left:50%;margin-left:-480px;z-index:10}
.top-header a {
    cursor: pointer;
    display: inline-block;
    height: 46px;
}
.top-header a.logout {
    background: url("../images/logout.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    width: 104px;
	display:none;
}
.top-header a.function {
    background: url("../images/function.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    width: 95px;
}
.top-header a.faq {
    background: url("../images/faq.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    width: 80px;
}
.top-header a.contact {
    background: url("../images/contact.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    width: 72px;
}

.top-header a.logout:hover, .top-header a.logout_active {
    background: url("../images/logout_a.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    width: 104px;
}
.top-header a.function:hover, .top-header a.function_active {
    background: url("../images/function_a.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    width: 95px;
}
.top-header a.faq:hover, .top-header a.faq_active {
    background: url("../images/faq_a.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    width: 80px;
}
.top-header a.contact:hover,.top-header a.contact_active {
    background: url("../images/contact_a.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    width: 72px;
}
.provision{text-decoration:none;}
.bg-footer{height:102px !important;}
provision-intro{font-size: 14px; position: absolute; cursor: pointer; left: 212px; top: 78px;color:#353535}
.provision:hover{text-decoration:underline;}
